html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  /*border: 1px solid rgba(0, 0, 0, 0.29);*/
  cursor: pointer;
  background: aliceblue;
  font-size: 16px;
  width: 250px;
  position: relative;
  /*box-shadow: 0 8px 8px -4px lightblue*/
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}


/** Page styles */

/* Dashboard */

/* Poll details */

/* Leaderboard */

/** Components */

.navLinks {
  color: #252525;
  font-weight: bold;
  letter-spacing: .09rem;
  font-size: 0.89rem;
}

.navToolBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.questionsContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.questionSummaryBox {
  flex: 1 0 25%;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.questionSummaryCard {
  flex: 1 0 25%;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}

.questionDetailsCardContainer {
  width: 55%;
  margin: auto;
  margin-top: 40px;
  padding: 10px;

  /*border: 3px solid green;*/
}

.questionDetailsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  padding: 17px;
  padding-left: 25px;
  padding-right: 25px;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}

.questionDetailsCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.ballotBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
  white-space: nowrap;
}

.ballot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 25%;
  margin: 10px;
  padding: 10px;
  border: darkgreen solid thin;
}

.ballotVoted {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 25%;
  margin: 10px;
  padding: 10px;
  border: limegreen solid medium;
}

.ballotText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Or column if it becomes difficult to render. */
  justify-content: space-around;
  padding: 10px;
  align-content: space-between;

  /*border: darkgreen solid thin;*/
}

.voteQuestionText {

}

.voteShareMetrics {

}

.buttons {
  box-shadow: 0 8px 8px -4px lightblue
}

.leaderboard {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

.leaderboardListItem {
  margin-top: 5px;
  box-shadow: 0 8px 8px -4px lightblue;
}

.leaderboardListItemTypography {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
  /*border-bottom: 1px solid #dedede;*/
}

.newQuestionContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  width: 40%;
}

.newQuestionForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: auto;
  width: 90%;
}

/*.questionDetailsCard {*/
/*  flex: 1 0 25%;*/
/*  margin: 10px;*/
/*  padding: 10px;*/
/*}*/
